<!DOCTYPE html>
<html lang="en">
<head>
  <title>OB1 Deploy 🚀🎪</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Deploy an OpenBazaar node to Digital Ocean in a few clicks">
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- inject:css -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- endinject -->
</head>

<body>
  <div class="logo">
    <a href="http://ob1.io"><img src="images/ob1-logo-white.png" style="height: 26px; width: 66px" /></a>
    <span class="appName">Deploy</span>
  </div>

  <div id="container" v-cloak>
    <div class="icon"><img src="images/rocket.png" style="height: 41px; width: 36px; position: relative; top: 20px;
    left: 22px;" /></div>
    <h1>Simple OpenBazaar Cloud Hosting</h1>
    <h2>Deploy a node to Digital Ocean in a few clicks</h2>

    <!-- Register -->
    <div v-show="node.state === nodeStates.WAITING" class="register marginTop30">
      <div class="step">
        <div class="label">Step 1:</div>
        <a href="https://www.digitalocean.com/?refcode=eaa306f7dd3d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=CopyPaste" target="_blank"><div class="button">Sign-up for Digital Ocean</div></a>
        <div class="small center">Includes $10 worth of credits</div>
      </div>

      <div class="spacer"></div>

      <div class="step">
        <div class="label">Step 2:</div>
        <a href="https://cloud.digitalocean.com/settings/api/tokens/new" target="_blank"><div class="button">Generate an API token</div></a>
        <div class="small">Any token name works</div>
      </div>

      <div class="step clear marginTop15">
        <div class="label">Step 3: <span class="link" onclick="showAnswer(1)" style="color:#fff">See how</span></div>
        <input v-model.lazy.trim="apiKey" type="text" class="token floatLeft" placeholder="Paste your Digital Ocean API token" />
        <div v-on:click="createvps" v-bind:class="{readonly: showInvalidAPIKey}" class="buttonDeploy floatLeft">
          <span class="text">Deploy!</span>
          <span class="rocket hide"><img src="images/rocket.png" style="height: 25px; width: 23px; position: relative; top: 7px; left: 0;" /></span>
        </div>
        <div class="clear"></div>
        <div v-show="showInvalidAPIKey" class="error apiKey">Invalid API key!</div>
        <div class="small mobileHidden">e.g. 025370df16b30b5a6ddd40236817f78fcf4b02c1403524905bab790aaa60a543</div>
      </div>
    </div>

    <!-- Progress bar -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="progressBar marginTop30">
      <div v-bind:class="node.styleOptions(nodeStates.CREATING_DROPLET)"><span class="mobileHidden">Droplet</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_OPENBAZAAR_RELAY, nodeStates.STARTING_OPENBAZAAR_RELAY)"><span class="desktopHidden">2</span><span class="mobileHidden">Relay</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_SYSTEM_PACKAGES)"><span class="desktopHidden">3</span><span class="mobileHidden">Packages</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_OPENBAZAAR_SERVER, nodeStates.STARTING_OPENBAZAAR_SERVER)"><span class="desktopHidden">4</span><span class="mobileHidden">Server</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.READY)">READY!</div>
    </div>

    <!-- Deploying -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="deploying">
      <div class="terminal">
        <div id="terminalContent">
          <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET)">Setting up <strong>Digital Ocean droplet</strong> (takes 1 minute)...</div>
          <div v-show="node.stateHasFinished(nodeStates.CREATING_DROPLET)"><strong>droplet</strong> setup success</div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_OPENBAZAAR_RELAY)">Installing <strong>OpenBazaar Relay</strong> (takes 2 minutes)...</div>
          <div v-show="node.stateHasStarted(nodeStates.STARTING_OPENBAZAAR_RELAY)">Starting <strong>OpenBazaar Relay</strong></div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_SYSTEM_PACKAGES)">Installing <strong>system packages</strong> (takes 1 minute)...</div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_OPENBAZAAR_SERVER)">Installing <strong>OpenBazaar Server</strong> (takes 2 minutes)...</div>
          <div v-show="node.stateHasStarted(nodeStates.STARTING_OPENBAZAAR_SERVER)">Starting <strong>OpenBazaar Server</strong></div>
        </div>
        <span class="blinking-cursor">|</span>
      </div>
    </div>

    <!-- Node finished -->
    <div v-show="node.stateHasStarted(nodeStates.READY)" class="finished marginTop30">
      <div class="connection marginRight10">
        <div class="title">Connect to OpenBazaar <span class="link" onclick="showAnswer(2)">See how</span></div>
        <div class="details">
          <table cellspacing="4px">
            <tr>
              <td class="right">IP</td>
              <td class="relative">
                <input type="text" id="ip" readonly v-model="node.ipv4" />
                <a class="copyLink" href="#" data-clipboard-target="#ip">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right">Username</td>
              <td class="relative">
                <input type="text" id="obUsername" readonly v-model="node.obUser.name"/>
                <a class="copyLink" href="#" data-clipboard-target="#obUsername">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Password</td>
              <td class="relative">
                <textarea id="obPassword">{{node.obUser.password}}</textarea>
                <a class="copyLink" href="#" data-clipboard-target="#obPassword">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">SSL</td>
              <td><input type="text" readonly value="On" /></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="connection">
        <div class="title">Connect to SSH <span class="link" onclick="showAnswer(3)">See how</span></div>
        <div class="details">
          <table>
            <tr>
              <td class="right">IP</td>
              <td class="relative">
                <input type="text" readonly v-model="node.ipv4" />
                <a class="copyLink" href="#" data-clipboard-target="#ip">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right">Username</td>
              <td class="relative">
                <input type="text" id="vpsUsername" readonly v-model="node.vpsUser.name" />
                <a class="copyLink" href="#" data-clipboard-target="#vpsUsername">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Password</td>
              <td class="relative">
                <textarea id="vpsPassword">{{node.vpsUser.password}}</textarea>
                <a class="copyLink" href="#" data-clipboard-target="#vpsPassword">Copy</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="clear"></div>

      <div class="marginTop10">
        <div class="buttonSmall floatLeft">Save Your Credentials!</div>
        <div class="finishedButtons">
          <a href="https://openbazaar.org/download.html" target="_blank"><div class="buttonSmallDark floatLeft">Download OpenBazaar</div></a>
          <div v-on:click="deployNewNode" class="buttonSmallDark floatLeft" style="margin: 0">Deploy Another Node</div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <!-- FAQs  -->
    <div class="faq">
      <div class="label">FAQ</div>
      <div class="question" id="q1" onclick="showAnswer(1)">
        Where do I find my Digital Ocean token?
        <div class="answer hide" id="a1"><img src="images/token_instructions.gif" style="width: 100%" /></div>
      </div>
      <div class="question" id="q2" onclick="showAnswer(2)">
        How do I connect my node to the OpenBazaar Client?
        <div class="answer hide" id="a2"><img src="images/connect.gif" style="width: 100%" /></div>
      </div>
      <div class="question" id="q3" onclick="showAnswer(3)">
        How do I connect my node via SSH?
        <div class="answer hide" id="a3">Waiting on gif...</div>
      </div>
      <div class="question" id="q4" onclick="showAnswer(4)">
        How do I deactivate a node I deployed?
        <div class="answer hide" id="a4">Waiting on gif...</div>
      </div>
      <div class="question" id="q5" onclick="showAnswer(5)">
        How much does it cost to host the node?
        <div class="answer hide" id="a5">Some text goes here...</div>
      </div>
    </div>
  </div>

<script type="text/javascript">
function showAnswer(num) {
  // reset all answers to hidden
  document.getElementById("a1").className = "answer hide";
  document.getElementById("a2").className = "answer hide";
  document.getElementById("a3").className = "answer hide";
  document.getElementById("a4").className = "answer hide";
  document.getElementById("a5").className = "answer hide";

  // show the clicked answers
  document.getElementById("a" + num).className = "answer";

  // scroll to the answer
  document.getElementById('a' + num).scrollIntoView();
}
</script>

<!-- Installation script. -->
<script type="text/sh" id="cloud-init-script-template"><!-- inject: ./install.sh --></script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
