<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mediachain Deploy 🚀🎪</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Deploy a mediachain node to Digital Ocean in a few clicks">
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- inject:css -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- endinject -->
</head>

<body>
  <div class="logo">
    <svg width="32" height="32" viewBox="0 0 305 305" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group">
          <rect id="Rectangle-1" fill="#000000" x="0" y="0" width="305" height="305"></rect>
          <circle id="Oval-1" fill="#FFFFFF" cx="121" cy="95" r="43"></circle>
          <rect id="Rectangle-2" fill="#FFFFFF" x="170" y="143" width="76" height="76"></rect>
          <polygon id="Path-14" fill="#FFFFFF" points="59.8286133 157.09375 59.8286133 240.708504 143.494901 240.708504"></polygon>
        </g>
      </g>
    </svg>
    <span class="appName">Deploy</span>
  </div>

  <div id="container" v-cloak>
    <div class="icon"><img src="images/rocket.png" style="height: 41px; width: 36px; position: relative; top: 20px;
    left: 22px;" /></div>
    <h1>Simple Mediachain Cloud Hosting</h1>
    <h2>Deploy a node to Digital Ocean in a few clicks</h2>

    <!-- Register -->
    <div v-show="node.state === nodeStates.WAITING" class="register marginTop30">
      <div class="step">
        <div class="label">Step 1:</div>
        <a href="https://www.digitalocean.com/?refcode=eaa306f7dd3d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=CopyPaste" target="_blank"><div class="button">Sign-up for Digital Ocean</div></a>
        <div class="small center">Includes $10 worth of credits</div>
      </div>

      <div class="spacer"></div>

      <div class="step">
        <div class="label">Step 2:</div>
        <a href="https://cloud.digitalocean.com/settings/api/tokens/new" target="_blank"><div class="button">Generate an API token</div></a>
        <div class="small">Any token name works</div>
      </div>

      <div class="step clear marginTop15">
        <div class="label">Step 3 (optional):</div>
        <div class="button" v-show="showSSHKeyEntry === false" v-on:click="showSSHKeyEntry = true;">Configure SSH for easy login</div>
        <div class="" v-show="showSSHKeyEntry === true">
          <textarea class="sshKeyEntry"
                    placeholder="Paste in your *public* SSH key to enable securely logging in to the node without a password"
                    v-model="node.sshPublicKey"></textarea>
          <div class="small"></div>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="step clear marginTop15">
        <div class="label">Step 4: <span class="link" onclick="showAnswer(1)">See how</span></div>
        <div class="tokenWrapper">
          <input v-model.lazy.trim="apiKey" v-on:keyup.enter="createvps" type="text" class="token floatLeft" placeholder="Paste your Digital Ocean API token" />
          <div v-on:click="createvps" class="buttonDeploy floatLeft">
            <span class="text">Deploy!</span>
            <span class="rocket hide"><img src="images/rocket.png" style="height: 25px; width: 23px; position: relative; top: 7px; left: 0;" /></span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="small mobileHidden">e.g. 025370df16b30b5a6ddd40236817f78fcf4b02c1403524905bab790aaa60a543</div>
        <br/>
        <div v-show="invalidAPIKey" class="button error apiKey" style="margin: auto">⚠️ Invalid Token</div>
        <div v-show="error" class="button error" style="margin: auto">⚠️ {{error}}</div>
      </div>
    </div>

    <!-- Progress bar -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="progressBar marginTop30">
      <div v-bind:class="node.styleOptions(nodeStates.CREATING_DROPLET)"><span class="desktopHidden">1</span><span class="mobileHidden">Droplet</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_STATUS_SERVER)"><span class="desktopHidden">2</span><span class="mobileHidden">Setup</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_SYSTEM_PACKAGES)"><span class="desktopHidden">3</span><span class="mobileHidden">Packages</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_MEDIACHAIN_NODE, nodeStates.STARTING_MEDIACHAIN_NODE)"><span class="desktopHidden">4</span><span class="mobileHidden">Server</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.READY)">READY!</div>
    </div>

    <!-- Deploying -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="deploying">
      <div class="terminal">
        <div id="terminalContent">
          <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET)">Setting up <strong>Digital Ocean droplet</strong> (takes 1 minute)...</div>
          <div v-show="node.stateHasFinished(nodeStates.CREATING_DROPLET)"><strong>droplet</strong> setup success<br/><br/></div>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_STATUS_SERVER)">Installing <strong>deployment tools</strong> (takes 1 minute)...<br/><br/></div>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_SYSTEM_PACKAGES)">Installing <strong>system packages</strong> (takes 1 minute)...<br/><br/></div>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_MEDIACHAIN_NODE)">Installing <strong>Mediachain Server</strong> (takes 1 minutes)...</div>
          <div v-show="node.stateHasStarted(nodeStates.STARTING_MEDIACHAIN_NODE)">Starting <strong>Mediachain Server</strong></div>
        </div>
        <div class="blinking-cursor">|</div>
      </div>
    </div>

    <!-- Node finished -->

    <div v-show="node.state === nodeStates.READY">

      <div class="connection">
        <div class="title">Connect to SSH <span class="link" onclick="showAnswer(3)">See how</span></div>
        <div class="details">
          <table>
            <tr>
              <td class="right">IP</td>
              <td class="relative">
                <input type="text" id="ip" readonly v-model="node.ipv4" />
                <a data-copy class="inputOverlayLink" href="#" data-clipboard-target="#ip">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right">Username</td>
              <td class="relative">
                <input type="text" id="vpsUsername" readonly v-model="node.vpsUser.name" />
                <a data-copy class="inputOverlayLink" href="#" data-clipboard-target="#vpsUsername">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Password</td>
              <td class="relative">
                <textarea id="vpsPassword" class="password">{{node.vpsUser.password}}</textarea>
                <a data-copy class="inputOverlayLink bottom" href="#" data-clipboard-target="#vpsPassword">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right">SSH Forwarding</td>
              <td class="relative">
                <input type="text" id="sshForward" readonly v-model="sshForward" />
                <a data-copy class="inputOverlayLink" href="#" data-clipboard-target="#sshForward">Copy</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="clear"></div>

      <div class="nodeInfo">
        <div class="title">Node Info</div>
        <div class="details">
          <table>
            <tr>
              <td class="right">Peer Address</td>
              <td class="relative">
                <input type="text" id="peerAddr" readonly v-model="listenMultiaddr" />
                <a data-copy class="inputOverlayLink" href="#" data-clipboard-target="#peerAddr">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right">Peer ID</td>
              <td class="relative">
                <input type="text" id="peerId" readonly v-model="node.peerId" />
                <a data-copy class="inputOverlayLink" href="#" data-clipboard-target="#peerId">Copy</a>
              </td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Publisher ID</td>
              <td class="relative">
                <textarea id="publisherId" class="password">{{node.publisherId}}</textarea>
                <a data-copy class="inputOverlayLink bottom" href="#" data-clipboard-target="#publisherId">Copy</a>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="clear"></div>

      <div class="marginTop10">
        <div v-on:click="downloadCredentialsFile" class="buttonSmall floatLeft">Save Your Credentials!</div>
        <div class="finishedButtons">
          <a href="https://openbazaar.org/download.html?deploy" target="_blank"><div class="buttonSmallDark floatLeft">Download Mediachain</div></a>
          <div v-on:click="deployNewNode" class="buttonSmallDark floatLeft" style="margin: 0">Deploy Another Node</div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

  </div>
    <!-- FAQs  -->
    <div class="faq">
      <div class="label">FAQ</div>
      <div class="question" id="q1" onclick="showAnswer(1)">
        Where do I find my Digital Ocean token?
        <br/>
        <div class="answer hide" id="a1"><iframe width="100%" height="315" src="https://www.youtube.com/embed/at6sNyvZruA" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <div class="question" id="q2" onclick="showAnswer(2)">
        How do I connect my node to the Mediachain Client?
        <br/>
        <div class="answer hide" id="a2">
          Follow the <a class="link" target="_blank" href="https://github.com/mediachain/aleph#installation">aleph install instructions</a> to install the
          <code>mcclient</code> app on yor local machine.
          <br/>
          After your node is deployed, copy the "SSH Forwarding" command and paste it into a terminal.  If you didn't
          add an SSH key during the setup process, you'll need to enter your node's password. The SSH command will
          create a secure tunnel between your local <code>mcclient</code> and the remote node.  Then you can use
          <code>mcclient</code> to control your node as if it were running on your local machine.
        </div>
      </div>
      <div class="question" id="q3" onclick="showAnswer(3)">
        How do I connect my node via SSH?
        <br/>
        <div class="answer hide" id="a3"><iframe width="100%" height="315" src="https://www.youtube.com/embed/greaLiqt5TE" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <div class="question" id="q4" onclick="showAnswer(4)">
        How do I deactivate a node I deployed?
        <br/>
        <div class="answer hide" id="a4"><iframe width="100%" height="315" src="https://www.youtube.com/embed/tIw9r63FBTQ" frameborder="0" allowfullscreen></iframe></div>
      </div>
      <div class="question" id="q5" onclick="showAnswer(5)">
        How much does it cost to host the node?
        <br/>
        <div class="answer hide" id="a5">You can run a Mediachain node off the lowest cost droplet, which is $5 per month. If you <a href="https://www.digitalocean.com/?refcode=eaa306f7dd3d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=CopyPaste" target="_blank">sign-up via our referral code</a>, you will get $10 credit, which is 2 months of running Mediachain for free!</div>
      </div>
      <div class="question" id="q6" onclick="showAnswer(6)">
        Where can I learn more about Deploy?
        <br/>
        <div class="answer hide" id="a6">You can learn more about Deploy by reading <a href="https://medium.com/ob1-company/introducing-ob1-deploy-8dc7d74787c6" target="_blank">this article.</a></div>
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/vue/2.0.0-rc/vue.min.js" integrity="sha384-XVWdOBeuvGajqWCkiJ1AGDeOyTwfhkpCvh2MFECfDEotXUhvP6rFCgAVFLj6NcI0" crossorigin="anonymous"></script>

<script type="text/javascript">
function showAnswer(num) {
  // reset all answers to hidden
  document.getElementById("a1").className = "answer hide";
  document.getElementById("a2").className = "answer hide";
  document.getElementById("a3").className = "answer hide";
  document.getElementById("a4").className = "answer hide";
  document.getElementById("a5").className = "answer hide";
  document.getElementById("a6").className = "answer hide";

  // show the clicked answers
  document.getElementById("a" + num).className = "answer";

  // scroll to the answer
  document.getElementById('a' + num).scrollIntoView();
}
</script>

<!-- Installation script. -->
<script type="text/sh" id="cloud-init-script-template"><!-- inject: ./install.sh --></script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
