<!DOCTYPE html>
<html lang="en">
<head>
  <title>OB1 Deploy 🚀🎪</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Deploy an OpenBazaar node to Digital Ocean in a few clicks">
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- inject:css -->
  <link rel="stylesheet" href="css/styles.css">
  <!-- endinject -->
</head>

<body>
  <div class="logo">
    <a href="http://ob1.io"><img src="images/ob1-logo-white.png" style="height: 26px; width: 66px" /></a>
    <span class="appName">Deploy</span>
  </div>

  <div id="container">
    <div class="icon"><img src="images/rocket.png" style="height: 41px; width: 36px; position: relative; top: 20px;
    left: 22px;" /></div>
    <h1>Simple OpenBazaar Cloud Hosting</h1>
    <h2>Deploy a node to Digital Ocean in a few clicks</h2>

    <!-- Register -->
    <div v-show="!node.stateHasStarted(nodeStates.CREATING_DROPLET)" class="register marginTop30">
      <div class="step ">
        <div class="label">Step 1:</div>
        <a href="https://www.digitalocean.com/?refcode=eaa306f7dd3d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=CopyPaste" target="_blank"><div class="button">Sign-up for Digital Ocean</div></a>
        <div class="small center">Includes $10 worth of credits</div>
      </div>

      <div class="spacer"></div>

      <div class="step">
        <div class="label">Step 2:</div>
        <a href="https://cloud.digitalocean.com/settings/api/tokens/new" target="_blank"><div class="button">Generate an API token</div></a>
        <div class="small">Any token name works</div>
      </div>

      <div class="step clear marginTop15">
        <div class="label">Step 3:</div>
        <input v-model="apiKey" type="text" class="token floatLeft" placeholder="Paste your Digital Ocean API token" />
        <div v-on:click="createvps" class="buttonDeploy floatLeft">
          <span class="text">Deploy</span>
          <span class="rocket hide"><img src="images/rocket.png" style="height: 25px; width: 23px; position: relative; top: 7px; left: 0;" /></span>
        </div>
        <div class="clear"></div>
        <div class="small mobileHidden">e.g. 025370df16b30b5a6ddd40236817f78fcf4b02c1403524905bab790aaa60a543</div>
      </div>
    </div>

    <!-- Progress bar -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="progressBar marginTop30">
      <div v-bind:class="node.styleOptions(nodeStates.CREATING_DROPLET)">1<span class="mobileHidden">. Droplet</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_OPENBAZAAR_RELAY, nodeStates.STARTING_OPENBAZAAR_RELAY)">2<span class="mobileHidden">. Relay</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_SYSTEM_PACKAGES)">3<span class="mobileHidden">. Packages</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.INSTALLING_OPENBAZAAR_SERVER, nodeStates.STARTING_OPENBAZAAR_SERVER)">4<span class="mobileHidden">. Server</span></div>
      <div v-bind:class="node.styleOptions(nodeStates.READY)">READY!</div>
    </div>

    <!-- Deploying -->
    <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET) && !node.stateHasStarted(nodeStates.READY)" class="deploying">
      <div class="terminal">
        <div id="terminalContent">
          <div v-show="node.stateHasStarted(nodeStates.CREATING_DROPLET)">Setting up <strong>Digital Ocean droplet</strong>...</div>
          <div v-show="node.stateHasFinished(nodeStates.CREATING_DROPLET)"><strong>droplet</strong> setup success</div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_OPENBAZAAR_RELAY)">Installing <strong>OpenBazaar Relay</strong></div>
          <div v-show="node.stateHasStarted(nodeStates.STARTING_OPENBAZAAR_RELAY)">Starting <strong>OpenBazaar Relay</strong></div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_SYSTEM_PACKAGES)">Installing <strong>system packages</strong></div>
          <br/>
          <div v-show="node.stateHasStarted(nodeStates.INSTALLING_OPENBAZAAR_SERVER)">Installing <strong>OpenBazaar Server</strong></div>
          <div v-show="node.stateHasStarted(nodeStates.STARTING_OPENBAZAAR_SERVER)">Starting <strong>OpenBazaar Server</strong></div>
        </div>
        <span class="blinking-cursor">|</span>
      </div>
    </div>

    <!-- Node finished -->
    <div v-show="node.stateHasStarted(nodeStates.READY)" class="finished marginTop30">
      <div class="connection marginRight10">
        <div class="title">Connect to OpenBazaar <span class="link" onclick="showAnswer(1)">See how</span></div>
        <div class="details">
          <table cellspacing="4px">
            <tr>
              <td class="right">IP</td>
              <td><input type="text" disabled v-model="node.ipv4" /></td>
            </tr>
            <tr>
              <td class="right">Username</td>
              <td><input type="text" disabled v-model="node.obUser.name"/></td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Password</td>
              <td><textarea>{{node.obUser.password}}</textarea></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="connection">
        <div class="title">Connect to SSH <span class="link" onclick="showAnswer(2)">See how</span></div>
        <div class="details">
          <table>
            <tr>
              <td class="right">IP</td>
              <td><input type="text" disabled v-model="node.ipv4" /></td>
            </tr>
            <tr>
              <td class="right">Username</td>
              <td><input type="text" disabled v-model="node.vpsUser.name" /></td>
            </tr>
            <tr>
              <td class="right vMiddle paddingTop2">Password</td>
              <td><textarea>{{node.vpsUser.password}}</textarea></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <!-- FAQs  -->
    <div class="faq">
      <div class="label">FAQ</div>
      <div class="question" id="q1" onclick="showAnswer(1)">
        How do I connect my node to the OpenBazaar Client?
        <div class="answer hide" id="a1"><img src="images/connect.gif" /></div>
      </div>
      <div class="question" id="q2" onclick="showAnswer(2)">
        How do I connect my node via SSH?
        <div class="answer hide" id="a2">Some text goes here...</div>
      </div>
      <div class="question" id="q3" onclick="showAnswer(3)">
        How do I deactivate a node I deployed?
        <div class="answer hide" id="a3">Some text goes here...</div>
      </div>
      <div class="question" id="q4" onclick="showAnswer(4)">
        How much does it cost to host the node?
        <div class="answer hide" id="a4">Some text goes here...</div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  function showAnswer(num) {
    // reset all answers to hidden 
    document.getElementById("a1").className = "answer hide";
    document.getElementById("a2").className = "answer hide";
    document.getElementById("a3").className = "answer hide";
    document.getElementById("a4").className = "answer hide";

    // show the clicked answers
    document.getElementById("a" + num).className = "answer";

    // scroll to the answer
    document.getElementById('a' + num).scrollIntoView();
  }
</script>

<!-- Installation script. It must not have a newline before the shebang -->
<script type="text/sh" id="cloud-init-script-template">#!/bin/bash

##
## Install OpenBazaar and ob-relay. The goal is to install ob-relay as
## quickly as possible so we can use it to communicate the installation
## status back to the end user. Only do the bare minimum first.
##

# Set state writes a string to a file that ob-relay can use to determine progress
mkdir -p /home/openbazaar/.deploy
function setState {
  echo -n $1 > /home/openbazaar/.deploy/state
}

setState INSTALLING_OPENBAZAAR_RELAY

# Create openbazaar user and group
groupadd -f openbazaar
useradd --shell /bin/bash --create-home --home /home/openbazaar -g openbazaar --password $(openssl passwd -salt a -1 "{{vpsPassword}}") openbazaar

# Generate SSL cert
mkdir /home/openbazaar/ssl
openssl req -nodes -batch -x509 -newkey rsa:2048 -keyout /home/openbazaar/ssl/deploy.key -out /home/openbazaar/ssl/deploy.crt
chown -R openbazaar:openbazaar /home/openbazaar/ssl
chmod -R 760 /home/openbazaar/ssl

# Install git and nodejs
apt-key adv --keyserver keyserver.ubuntu.com --recv 68576280
apt-add-repository "deb https://deb.nodesource.com/node_6.x $(lsb_release -sc) main"
apt-get update
apt-get install -y git nodejs

# Install ob-relay
git clone https://github.com/OB1Company/ob-relay.git /home/openbazaar/ob-relay
cd /home/openbazaar/ob-relay && git checkout {{obRelayBranch}}
cd /home/openbazaar/ob-relay && npm install
chown -R openbazaar:openbazaar /home/openbazaar/ob-relay
chmod -R 760 /home/openbazaar/ob-relay

setState STARTING_OPENBAZAAR_RELAY

# Create Upstart script for ob-relay
cat > /etc/init/ob-relay.conf <<-EOF
setuid openbazaar
setgid openbazaar
chdir /home/openbazaar/ob-relay
respawn
start on runlevel [2345]
stop on runlevel [06]
env OB_RELAY_SSL_KEY_FILE="/home/openbazaar/ssl/deploy.key"
env OB_RELAY_SSL_CERT_FILE="/home/openbazaar/ssl/deploy.crt"
exec node /home/openbazaar/ob-relay/app.js
EOF

# Start ob-relay
service ob-relay start

setState INSTALLING_SYSTEM_PACKAGES

# Update packages and do basic security hardening
apt-get upgrade -y

# Install fail2ban to block brute force SSH attempts
apt-get install -y fail2ban

# Disable incoming traffic except for the specified ports
ufw disable && ufw --force enable
ufw default deny incoming
ufw allow 22/tcp
ufw allow 8080/tcp
ufw allow 18466/tcp
ufw allow 18469/tcp
ufw allow 18470/tcp
ufw allow 18467/udp

setState INSTALLING_OPENBAZAAR_SERVER

# Install OpenBazaar-Server
apt-get install -y python2.7 build-essential python-dev libffi-dev libssl-dev
git clone https://github.com/OpenBazaar/OpenBazaar-Server.git /home/openbazaar/src
easy_install pip
pip install virtualenv
virtualenv --python=python2.7 /home/openbazaar/venv
/home/openbazaar/venv/bin/pip install -r /home/openbazaar/src/requirements.txt

# Create config file
cat > /home/openbazaar/ob.cfg <<-EOF
[CONSTANTS]
DATA_FOLDER = /home/openbazaar/data/
TRANSACTION_FEE = 20400
RESOLVER = https://resolver.onename.com/
[LIBBITCOIN_SERVERS]
mainnet_server1 = tcp://libbitcoin1.openbazaar.org:9091
mainnet_server3 = tcp://libbitcoin3.openbazaar.org:9091
mainnet_server5 = tcp://obelisk.airbitz.co:9091
[LIBBITCOIN_SERVERS_TESTNET]
testnet_server2 = tcp://libbitcoin2.openbazaar.org:9091,baihZB[vT(dcVCwkhYLAzah<t2gJ>{3@k?+>T&^3
testnet_server4 = tcp://libbitcoin4.openbazaar.org:9091,<Z&{.=LJSPySefIKgCu99w.L%b^6VvuVp0+pbnOM
[AUTHENTICATION]
SSL = True
SSL_CERT = /home/openbazaar/ssl/deploy.crt
SSL_KEY = /home/openbazaar/ssl/deploy.key
USERNAME = admin
PASSWORD = {{obPassword}}
[MAINNET_SEEDS]
mainnet_seed2 = seed2.openbazaar.org:8080,8b17082a57d648894a5181cb6e1b8a6f5b3b7e1c347c0671abfcd7deb6f105fe
mainnet_seed3 = seed.obcentral.org:8080,f0ff751b27ddaa86a075aa09785c438cd2cebadb8f0f5a7e16f383911322d4ee
[TESTNET_SEEDS]
testnet_seed1 = seed.openbazaar.org:8080,5b44be5c18ced1bc9400fe5e79c8ab90204f06bebacc04dd9c70a95eaca6e117
EOF

# Setup data directory and permissions
mkdir -p /home/openbazaar/data
chown -R openbazaar:openbazaar /home/openbazaar
chmod -R 760 /home/openbazaar
chmod 640 /home/openbazaar/ob.cfg

setState STARTING_OPENBAZAAR_SERVER

# Create Upstart script for OpenBazaar-Server
cat > /etc/init/openbazaard.conf <<-EOF
setuid openbazaar
setgid openbazaar
chdir /home/openbazaar
respawn
start on runlevel [2345]
stop on runlevel [06]
exec /home/openbazaar/venv/bin/python /home/openbazaar/src/openbazaard.py start -a 0.0.0.0
EOF

# Start OpenBazaar-Server
service openbazaard start

setState READY
</script>

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
